.large-icon {
  font-size: 32px !important; 
}

.main-card{
  background-image: linear-gradient(to right, rgb(234, 234, 226), rgb(236, 244, 236) ,rgb(255, 255, 255));
}

.heading{
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 3px;
}

.quote{
  font-family: "Londrina Outline", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 25px;
  color: black;
  letter-spacing: 2px;
  padding-right: 2%;
}