.foot{
    display : flex;
    background-image:linear-gradient(to right,white,rgb(211, 240, 240),rgb(182, 228, 223), rgb(195, 195, 240));
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    justify-content: center;
}
