.foot{
    display : flex;
    background-image: linear-gradient(to right,white,rgb(169, 164, 164),rgb(154, 154, 169));;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    justify-content: center;
}
