.body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right,rgb(165, 170, 194),rgb(142, 151, 142),rgb(179, 193, 193));
  }